/* root variable */
:root {
    --yellow: #fbba00;
    --yellow-light: #faa83c;
    --red: #990a2c;
    --dark: #18191c;
    --color-text: #808084;
    --bg-dark: #808084;
    --bg-store: #f6f6f6;
    --bg-store2: #c0c0c0;
    --bg-pic: #eaeeef;
    --bg-player: #202025;
    --bg-footer: #2b2c33;
    --white: #f8f8fd;
    --black: #000;
}

/* main */
main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    >header {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;

        >img {
            position: absolute;
            top: 0;
            left: 20px;
        }

        >div {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;

            &:first-of-type {
                background-color: var(--yellow);
                justify-content: flex-end;
                padding-right: 25px;

                >img {
                    width: 30px;
                    cursor: pointer;

                    &:first-of-type {
                        width: 45px;
                        margin-right: 17px;
                    }
                }
            }

            &:last-of-type {
                background-color: var(--red);
                justify-content: space-between;

                >nav {

                    &:first-of-type {

                        >ul {
                            display: flex;
                            align-items: center;
                            padding-left: 145px;
                            gap: 25px;

                            >li {

                                >i {
                                    font-size: 40px;
                                    color: var(--white);
                                    cursor: pointer;
                                    transition: .2s;

                                    &:hover {
                                        color: rgba(255, 255, 255, 0.733);
                                    }
                                }

                                >a {
                                    color: var(--white);
                                    font-weight: bold;
                                    transition: .2s;
                                    text-transform: uppercase;
                                    font-size: 14px;

                                    &:hover {
                                        color: rgba(255, 255, 255, 0.733);
                                    }
                                }
                            }
                        }
                    }

                    &:last-of-type {

                        >ul {
                            display: flex;
                            align-items: center;
                            gap: 25px;
                            padding-right: 40px;
                            color: var(--white);
                            font-size: 14px;
                            font-weight: bold;
                            text-transform: uppercase;

                            >li {
                                display: flex;
                                align-items: center;

                                &:nth-of-type(1) {
                                    position: relative;
                                    padding: 5px 0;

                                    &:hover {
                                        >ul {
                                            display: block;
                                        }

                                        >i {
                                            transform: rotate(180deg);
                                        }
                                    }

                                    >i {
                                        font-size: 17px;
                                        margin-left: 8px;
                                    }

                                    >ul {
                                        display: none;
                                        position: absolute;
                                        top: 30px;
                                        left: -2px;
                                        background-color: var(--red);
                                        width: 110%;
                                        padding: 4px;
                                        border-radius: 4px;

                                        >li {
                                            width: 100%;

                                            >a {
                                                color: rgba(255, 255, 255, 0.733);
                                                transition: .2s;
                                                width: 100px;
                                                display: flex;

                                                &:hover {
                                                    color: var(--white);
                                                }
                                            }
                                        }
                                    }
                                }

                                &:nth-of-type(2) {
                                    font-size: 16px;
                                    cursor: pointer;
                                    transition: .2s;

                                    &:hover {
                                        color: rgba(255, 255, 255, 0.733);
                                    }
                                }

                                &:nth-of-type(3) {
                                    background-color: var(--yellow);
                                    padding: 4px 25px;
                                    border-radius: 20px;
                                    cursor: pointer;
                                    gap: 12px;
                                    transition: .2s;

                                    >i {
                                        font-size: 25px;
                                    }

                                    &:hover {
                                        color: rgba(255, 255, 255, 0.733);
                                        background-color: #fbb800c7;
                                    }
                                }

                                &:nth-of-type(4) {
                                    &:hover {
                                        color: rgba(255, 255, 255, 0.733);
                                        border-color: rgba(255, 255, 255, 0.733);
                                    }

                                    transition: .2s;
                                    border: 2px solid var(--white);
                                    padding: 2px 25px;
                                    border-radius: 20px;
                                    cursor: pointer;
                                    gap: 12px;

                                    >i {
                                        font-size: 25px;
                                    }
                                }

                                &:nth-of-type(5) {
                                    >i {
                                        font-size: 25px;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

    }

    >.collection {
        height: 110vh;
        background-image: url(../img/collection-bg.webp);
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        z-index: -1;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.445);
        }

        >div:first-of-type {
            position: absolute;
            top: 40%;
            left: 3%;
            text-transform: uppercase;
            z-index: 10;
            width: 95%;

            >h2 {
                color: var(--yellow);
                font-size: 30px;
                margin-bottom: 20px;
            }

            >h1 {
                color: var(--white);
                font-size: 55px;
                width: 60%;
                line-height: 75px;
                margin-bottom: 20px;
            }

            >div {
                display: flex;
                align-items: center;
                justify-content: center;

                &:first-of-type {
                    gap: 170px;
                    margin-bottom: 15px;

                    >img {
                        width: 50px;

                        &:first-of-type {
                            width: 80px;
                        }
                    }
                }

                &:last-of-type {
                    gap: 10px;

                    >i {
                        color: var(--white);
                        font-size: 35px;

                        &:first-of-type {
                            transform: rotate(180deg);
                        }
                    }

                    >div {
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        background-color: var(--bg-dark);

                        &:last-of-type {
                            width: 50px;
                            border-radius: 20px;
                            background-color: var(--yellow);
                        }
                    }
                }
            }
        }

        >div:last-of-type {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50px;
            position: absolute;
            top: 18%;
            right: 30px;

            >i {
                font-size: 22px;
                margin-bottom: 13px;
                color: #f6f6f6;
                cursor: pointer;
            }

            >p {
                font-size: 14px;
                font-weight: 100;
                text-transform: uppercase;
                color: #f6f6f6;
                transform: rotate(-90deg);
                width: 150px;
                margin-top: 8px;
            }
        }
    }

    >.match {
        padding: 20px 0;
        background-color: var(--dark);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        >div {
            width: 100%;

            &:nth-of-type(1) {
                height: 180px;
                background-image: url(../img/buy-bg.webp);
                background-repeat: no-repeat;
                background-size: cover;
                cursor: pointer;
                margin-bottom: 75px;
            }

            &:nth-of-type(2) {
                display: flex;
                align-items: center;
                margin-bottom: 40px;

                >figure {

                    &:nth-of-type(1) {
                        width: 15%;
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 5px;
                    }

                    &:nth-of-type(2) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 12%;
                        margin-left: 12px;

                        >img {
                            margin-bottom: 7px;
                        }

                        >figcaption {
                            color: var(--yellow);
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }
                }

                >h4 {
                    font-size: 37px;
                    color: var(--color-text);
                    font-weight: 200;

                    &:last-of-type {
                        width: 23.5%;
                        margin-left: 5px;
                    }
                }

                >div {
                    width: 13%;
                    display: flex;
                    justify-content: center;

                    >.dashed {
                        width: 30px;
                        height: 10px;
                        background-color: var(--color-text);
                    }
                }
            }

            &:nth-of-type(3) {
                height: 10px;
                width: 96%;
                background-color: var(--color-text);
                margin-bottom: 25px;
                display: flex;
                justify-content: flex-end;

                >div {
                    background-color: var(--red);
                    width: 50%;
                    height: 100%;
                }
            }
        }

        >h3 {
            font-size: 28px;
            color: var(--color-text);
            margin-bottom: 13px;
        }

        >h4 {
            font-size: 26px;
            font-weight: 200;
            color: var(--white);
            margin-bottom: 10px;
        }

        >p {
            font-size: 20px;
            color: var(--white);
            margin-bottom: 60px;
        }

        >button {
            display: flex;
            align-items: center;
            gap: 7px;
            cursor: pointer;
            padding: 10px 25px;
            font-size: 16px;
            text-transform: uppercase;
            border-radius: 30px;
            margin: 0 10px 40px 0;
            font-weight: bold;
            border: none;
            background-color: var(--yellow);
            color: var(--red);

            >i {
                font-size: 22px;
                margin-right: 5px;
            }
        }

        >a {
            font-size: 16px;
            font-weight: bold;
            color: var(--color-text);
            display: flex;
            align-items: center;
            gap: 7px;
            margin-bottom: 15px;

            >i {
                font-size: 20px;
            }
        }
    }

    >.store {
        background-color: var(--bg-store);
        padding: 30px 10px 20px;
        display: flex;
        align-items: center;

        >h2 {
            color: var(--white);
            text-transform: uppercase;
            font-size: 38px;
            text-shadow: 0 0 3px var(--black),
                0 0 3px var(--black),
                0 0 3px var(--black);
            width: 10%;
        }

        >div {

            &:first-of-type {
                width: 70%;
                display: flex;
                align-items: center;
                gap: 15px;

                >a {
                    min-width: 220px;
                    padding: 10px;
                    border-radius: 20px;
                    color: var(--white);
                    background-color: var(--bg-store2);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    transition: .2s;

                    &:hover {
                        background-color: var(--color-text);
                    }

                    &:first-of-type {
                        background-color: var(--color-text);
                    }
                }
            }

            &:last-of-type {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 25px 0 40px;

                >div {
                    width: 23%;
                    padding: 25px;
                    border-radius: 5px;
                    box-shadow: 0 0 10px 1px rgba(169, 169, 169, 0.308);

                    >figure {
                        >img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    >h3 {
                        font-size: 16px;
                        text-align: center;
                        margin: 15px 0;
                        text-transform: capitalize;
                    }

                    >button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 9px 60px;
                        border-radius: 30px;
                        margin: auto;
                        font-size: 12px;
                        color: var(--yellow);
                        border: none;
                        background-color: var(--red);
                        gap: 10px;
                        cursor: pointer;
                        text-transform: uppercase;

                        >i {
                            font-size: 18px;
                            color: var(--white);
                        }
                    }
                }
            }
        }

        >a {
            width: 20%;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            >i {
                font-size: 28px;
                color: var(--yellow);
            }
        }
    }

    >.news {
        align-items: center;
        justify-content: space-between;
        padding: 25px 10px 70px;
        background-color: var(--dark);

        >figure {
            width: 32%;
            height: 260px;
            color: var(--white);
            text-shadow: 0 0 1px var(--dark),
                0 0 2px var(--dark),
                0 0 3px var(--dark),
                0 0 4px var(--dark),
                0 0 5px var(--dark);
            font-size: 16px;
            position: relative;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
            }

            >h4 {
                position: absolute;
                bottom: 15%;
                left: 5%;
                text-transform: uppercase;
            }

            >figcaption {
                position: absolute;
                bottom: 5%;
                left: 5%;
                text-transform: uppercase;
            }

            >p {
                font-size: 14px;
                text-transform: uppercase;
                margin-top: 6px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                >span {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    >i {
                        font-size: 20px;
                    }

                    &:last-of-type {
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    >.player {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;

        >h2 {
            font-size: 65px;
            font-style: italic;
            color: var(--white);
            letter-spacing: 5px;
            text-shadow: 0 0 1px var(--color-text),
                0 0 2px var(--color-text),
                0 0 3px var(--color-text),
                0 0 4px var(--color-text),
                0 0 5px var(--color-text),
                0 0 6px var(--color-text),
                0 0 7px var(--color-text),
                0 0 8px var(--color-text);
            margin-bottom: 30px;
        }

        >div {
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            gap: 35px;

            &:first-of-type {
                >a {
                    padding: 12px 25px;
                    border-radius: 30px;
                    transition: .4s;

                    &:first-of-type {
                        background-color: var(--bg-store2);
                    }

                    &:last-of-type {
                        &:hover {
                            color: var(--white);
                            background-color: var(--color-text);
                        }
                    }
                }
            }

            &:last-of-type {

                >div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        >figure {
                            outline: 2px solid var(--red);
                            outline-offset: 3px;
                        }
                    }

                    >figure {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        overflow: hidden;
                        padding: 5px;
                        margin-bottom: 6px;
                        transition: .2s linear;

                        >img {
                            width: 100%;
                            height: 190%;
                            object-fit: cover;
                        }
                    }

                    >p {
                        text-transform: capitalize;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    >.attacker {
        background-color: var(--bg-player);
        height: 90vh;
        margin-bottom: 50px;

        >* {
            width: 50%;
        }

        >figure {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            >img {
                width: 90%;
                height: 107%;
                position: relative;
                top: -3.5%;
            }
        }

        >div {
            display: flex;
            align-items: center;
            padding-left: 50px;

            >div {
                >h4 {
                    font-weight: 200;
                    font-size: 55px;
                    margin-bottom: 10px;
                    color: var(--bg-player);
                    text-shadow: 0 0 1px var(--color-text),
                        0 0 2px var(--color-text),
                        0 0 3px var(--color-text),
                        0 0 4px var(--color-text),
                        0 0 5px var(--color-text);
                }

                >h5 {
                    font-size: 18px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: 100;
                    color: var(--color-text);
                }

                >h2 {
                    color: var(--white);
                    font-size: 40px;
                    text-transform: uppercase;
                    max-width: 200px;
                    margin-bottom: 30px;
                }

                >div {
                    display: flex;
                    align-items: center;
                    gap: 35px;
                    margin-bottom: 25px;

                    &:last-of-type {
                        gap: 15px;
                    }

                    >div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        >span {
                            &:first-of-type {
                                font-size: 30px;
                                color: var(--yellow);
                                margin-bottom: 4px;
                            }

                            &:last-of-type {
                                font-size: 14px;
                                color: var(--color-text);
                                text-transform: uppercase;
                            }
                        }
                    }

                    >img {
                        width: 60px;
                    }

                    >button {
                        padding: 10px 15px;
                        border: none;
                        background-color: var(--red);
                        color: var(--yellow);
                        font-size: 14px;
                        text-transform: uppercase;
                        border-radius: 30px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;

                        >i {
                            font-size: 16px;
                        }
                    }

                    >a {
                        color: var(--yellow);
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        >i {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }

    >.matches {
        flex-direction: column;

        >h2 {
            font-size: 65px;
            font-style: italic;
            text-align: center;
            color: var(--white);
            letter-spacing: 5px;
            text-shadow: 0 0 1px var(--color-text),
                0 0 2px var(--color-text),
                0 0 3px var(--color-text),
                0 0 4px var(--color-text),
                0 0 5px var(--color-text),
                0 0 6px var(--color-text),
                0 0 7px var(--color-text),
                0 0 8px var(--color-text);
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            >div {
                width: 47%;
                height: 95vh;
                background-size: cover;
                background-image: url(../img/bg-logo.webp);
                position: relative;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;

                &:last-of-type {
                    >div {
                        >p {
                            font-size: 22px;
                            width: 170px;
                            line-height: 30px;
                            text-transform: uppercase;
                            font-weight: 500;
                        }
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                >* {
                    z-index: 10;
                }

                >h3 {
                    font-weight: bold;
                    font-size: 30px;
                    margin-bottom: 30px;
                    text-transform: uppercase;
                }

                >div {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 70px;
                    margin-bottom: 70px;

                    >figure {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        >img {
                            margin-bottom: 30px;
                        }

                        >figcaption {
                            font-size: 18px;
                            text-transform: uppercase;
                        }
                    }

                    >p {
                        font-size: 55px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }

                >button {
                    padding: 12px 25px;
                    border-radius: 30px;
                    font-size: 16px;
                    cursor: pointer;
                    color: var(--white);
                    border: none;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                &:first-of-type {

                    &::after {
                        background-color: #faa83cbb;
                    }

                    >p {
                        text-transform: uppercase;

                        &:nth-of-type(1) {
                            font-size: 18px;
                            margin-bottom: 5px;
                            font-weight: 500;
                        }

                        &:nth-of-type(2) {
                            font-size: 14px;
                            color: rgba(0, 0, 0, 0.801);
                            margin-bottom: 15px;
                        }

                        &:nth-of-type(3) {
                            font-size: 20px;
                            font-weight: 500;
                            margin-bottom: 40px;
                        }
                    }

                    >button {
                        background-color: var(--red);
                        color: var(--yellow);
                    }
                }

                &:last-of-type {
                    color: var(--white);

                    >p {
                        text-transform: uppercase;

                        &:nth-of-type(1) {
                            font-size: 20px;
                            margin-bottom: 5px;
                            font-weight: 500;
                        }

                        &:nth-of-type(2) {
                            font-size: 14px;
                            color: rgba(255, 255, 255, 0.801);
                            margin-bottom: 15px;
                            margin-bottom: 80px;
                        }
                    }

                    &::after {
                        background-color: #990a2bbb;
                    }

                    >button {
                        background-color: var(--yellow);
                        color: var(--red);
                    }
                }
            }
        }
    }

    >.banner {
        flex-direction: column;
        padding: 65px 50px;
        background-color: var(--dark);

        >div {
            position: relative;

            &:first-of-type {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding-bottom: 65px;
                border-bottom: 1px solid var(--white);

                >img {

                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        width: 140px;
                    }
                }

                >p {
                    transform: rotate(270deg);
                    font-size: 14px;
                    color: var(--color-text);
                    position: absolute;
                    left: -85px;
                }
            }

            &:last-of-type {
                display: flex;
                align-items: center;
                padding-top: 65px;
                justify-content: space-around;

                >img {
                    &:last-of-type {
                        width: 140px;
                    }
                }

                >p {
                    transform: rotate(270deg);
                    font-size: 14px;
                    color: var(--color-text);
                    position: absolute;
                    left: -85px;
                }
            }

            >img {
                width: 90px;
                transition: .4s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }

    >.download-app {
        padding: 60px 90px;
        background-color: var(--bg-footer);
        align-items: flex-start;

        >div {
            width: 50%;

            &:first-of-type {
                >p {
                    color: var(--white);

                    &:first-of-type {
                        font-size: 17px;
                        margin-bottom: 12px;
                    }
                }

                >form {
                    margin-bottom: 12px;
                    padding: 4px 5px;
                    border-radius: 30px;
                    background-color: var(--white);
                    width: 95%;
                    display: flex;
                    align-items: center;

                    >a {
                        width: 7%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        >i {
                            color: var(--color-text);
                        }
                    }

                    >input {
                        padding: 12px;
                        border: none;
                        outline: none;
                        width: 68%;
                    }

                    >button {
                        width: 25%;
                        padding: 13px;
                        border-radius: 30px;
                        background-color: var(--bg-footer);
                        color: var(--white);
                        font-weight: bold;
                        font-size: 15px;
                        border: none;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }
            }

            &:last-of-type {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                >p {
                    color: var(--white);
                    font-size: 17px;
                    margin-bottom: 12px;
                }

                >div {
                    display: flex;
                    gap: 20px;
                }
            }
        }
    }

    >footer {
        padding: 50px 30px;
        background-color: var(--red);
        width: 100%;
        display: flex;

        >div {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            >h3 {
                margin-bottom: 10px;
                text-transform: uppercase;
                font-size: 19px;
                font-weight: 400;
                color: #ffffffb4;
            }

            >a {
                margin-bottom: 8px;
                font-size: 14px;
                color: var(--white);
                transition: .2s;

                &:hover {
                    color: #ffffffb4;
                }
            }

            &:nth-of-type(3) {
                width: 27%;
            }

            &:nth-of-type(4) {
                width: 13%;
            }

            &:last-of-type {
                align-items: flex-end;

                >a {
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    font-size: 17px;
                    font-weight: 400;
                    color: #ffffffb4;
                    transition: .2s;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    >.footer-info {
        padding-bottom: 20px;
        background-color: var(--dark);
        color: var(--color-text);
        width: 100%;

        >div {
            width: 100%;

            >p {
                text-align: center;
                font-size: 16px;
                margin: 45px 0;

                >strong {
                    font-size: 17px;
                    color: var(--yellow-light);

                    &:last-of-type {
                        text-transform: uppercase;
                    }
                }
            }

            >div {
                padding: 0 60px;
                margin: 40px 100px;
                display: flex;
                align-items: center;
                gap: 18px;

                >a {
                    font-size: 17px;
                    transition: .2s;

                    &:hover {
                        text-decoration: underline;
                        color: var(--yellow-light);
                    }
                }

                >i {
                    font-size: 22px;
                }
            }
        }
    }

    >.fixed-info {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: 1px solid rgb(255 220 75);
        outline: 1px solid rgb(255 220 75);
        outline-offset: 2px;
        position: fixed;
        bottom: 50px;
        right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        z-index: 999;

        &:hover {
            >a {
                >i {
                    opacity: .6;
                    visibility: visible;
                }
            }
        }

        >.circle {
            width: 165px;
            height: 165px;
            border-radius: 50%;

            >img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        >strong {
            position: absolute;
            top: 45%;
            right: -85px;
            transform: rotate(90deg);
            font-size: 14px;
            font-style: italic;
            color: var(--yellow-light);
        }

        >a {
            >i {
                font-size: 26px;
                color: var(--white);
                position: absolute;
                opacity: .6;
                visibility: hidden;
                transition: .2s linear;
                padding: 10px 30px;

                &:hover {
                    opacity: 1;
                    color: var(--yellow-light);
                }
            }

            &:nth-of-type(1) {
                >i {
                    top: -10px;
                    left: -58px;
                }
            }

            &:nth-of-type(2) {
                >i {
                    top: 40px;
                    left: -80px;
                }
            }

            &:nth-of-type(3) {
                >i {
                    top: 90px;
                    left: -80px;
                }
            }

            &:nth-of-type(4) {
                >i {
                    top: 130px;
                    left: -58px;
                }
            }
        }
    }
}